{
	"env": {
		"browser": true,
		"node": true,
		"es2021": true
	},
	"extends": ["plugin:react/recommended", "airbnb", "prettier"],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error",
		"react/jsx-filename-extension": "off",
		"react/forbid-prop-types": "off",
		"react/no-array-index-key": "off",
		"react/jsx-props-no-spreading": "off",
		"react/no-danger": "off",
		"import/prefer-default-export": "off",
		"import/no-cycle": "off",
		"import/named": "off",
		"no-console": "off"
	},
	"settings": {
		"import/resolver": {
			"alias": [
				["@components", "./src/components"],
				["@sections", "./src/sections"],
				["@styles", "./src/styles"],
				["@utils", "./src/utils"],
				["@hooks", "./src/hooks"],
				["@config", "./src/config"]
			]
		}
	}
}
